/* Step 3  */

/* Transboxes  */

#trans1Step5{
    width: 40px;
    top: 160px;
    left: 100px;
}

#trans2Step5{
    width: 40px;
    top: 165px;
    left: 165px;
}

#trans3Step5{
    width: 40px;
    top: 205px;
    left: 100px;
}

#trans4Step5{
    width: 40px;
    top: 215px;
    left: 165px;
}

#trans5Step5{
    width: 40px;
    top: 270px;
    left: 100px;
}

#trans6Step5{
    width: 40px;
    top: 260px;
    left: 165px;
}

#trans7Step5{
    width: 40px;
    top: 310px;
    left: 100px;
}

#trans8Step5{
    width: 40px;
    top: 315px;
    left: 170px;
}

#trans9Step5{
    width: 200px;
    height: 100px;
    top: 150px;
    left: 500px;
}




/* Arrows  */

#arr1Step5{
    top: 170px;
    left: 60px;
}

#arr2Step5{
    top: 170px;
    left: 130px;
}

#arr3Step5{
    top: 215px;
    left: 60px;
}

#arr4Step5{
    top: 215px;
    left: 120px;
}

#arr5Step5{
    top: 270px;
    left: 60px;
}

#arr6Step5{
    top: 260px;
    left: 120px;
}

#arr7Step5{
    top: 310px;
    left: 60px;
}

#arr8Step5{
    top: 315px;
    left: 130px;
}

#arr9Step5{
    top: 170px;
    left: 440px;
}

#arr10Step5{
    top: 320px;
    left: 120px;
}

#arr11Step5{
    top: 360px;
    left: 50px;
}

#arr12Step5{
    top: 360px;
    left: 120px;
}

#arr13Step5{
    top: 175px;
    left: 730px;
}